.us__back {
    background-image: url("images/f.elconfidencial.com_original_ac7_55f_733_ac755f733645ff83bb26c0780396c394.jpg");
    background-size: cover;
    place-content: center;
    justify-content: center;
    align-items: center;
    gap: 26px;
    padding: 120px;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
  }
  
  .blog__container{
   
    border-radius: 6px;
    padding: 10px;
  }
  
  .blog__container img {

    height: 200px;
  }
  
  .blog__container p {
    text-transform: uppercase;
    font-weight: 500;
    color: aliceblue;
    text-align: justify;
    width: 100%;
  }
.us__back{
    color: azure;
  }

  .blogg__container{
    display: flex;
    border-radius: 6px;
    padding: 12px;
  }
  .us__back p{
    color: azure;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 22px;
    margin-top: 20px;
  }
  .us__back h1{
    font-size: 40px;
  }