.forgot-password__container {
    display: flex;
    height: 100vh;
  }
  
  .forgot-password {
    display: flex;
    width: 520px;
    flex-direction: column;
    gap: 30px;
    padding: 100px 50px 0 80px;
    background-color: #002b3b;
    color: #fafafa;
  }
  
  .forgot-password__logo {
    width: 75%;
    margin-bottom: 16px;
  }
  
  .forgot-password__form-title {
    margin-bottom: 20px;
    color: #a8bbc9;
    font-size: 2em;
  }
  
  .forgot-password__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .forgot-password__form input {
    padding: 14px;
    border: none;
    outline: none;
    font-size: 1em;
    border-radius: 10px;
  }
  
  .forgot-password__form-link {
    font-size: 1em;
    margin: 6px 0;
    text-decoration: none;
    color: #d0d0d0;
    text-align: center;
  }
  
  .forgot-password__form input[type="submit"] {
    background: linear-gradient(#1d5b72, #4e5f65);
    color: #fafafa;
    font-weight: 600;
    border: 1px solid #d0d0d0;
    cursor: pointer;
    box-shadow: 0px 2px 10px 1px #4e5f65;
  }
  
  .forgot-password__side-banner {
    background-image: url("images/register.webp");
    background-size: cover;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
  
  .side-banner__box {
    width: 720px;
    margin-top: 200px;
    text-align: center;
    background-color: #d0d0d0aa;
    color: #27292d;
    padding: 20px;
    border-radius: 12px;
  }
  
  .side-banner__box h2 {
    font-size: 9em;
  }
  
  .side-banner__box h3 {
    font-size: 3.5em;
  }
  
  .side-banner__box p {
    padding: 40px 60px;
    font-size: 1.5em;
    text-align: start;
  }
  