/* --- HEADER SECTION --- */

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header section {
  padding: 60px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: end;
  background: linear-gradient(90deg, #00151f77, transparent, #00151f77),
    url("images/header.jpg");
  background-size: cover;
}

.header__text {
  margin-left: 12px;
  margin-bottom: 60px;
}

.header__text p {
  color: #fafafa;
  font-size: 3em;
  font-weight: 300;
}

.header__text .text__bold {
  color: #a1b0bf;
  font-size: 3.6em;
  font-weight: 500;
}

.slider__articles-wrapper {
  display: grid;
  height: 200px;
  place-content: center;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 200px;
  grid-gap: 120px;
  padding: 0 120px;
}

/* --- GALLERY SECTION --- */

.gallery {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(3, 380px);
  grid-template-rows: repeat(2, 380px);
  padding: 120px;
}

/* --- NOTICES SECTION --- */

.notices {
  display: flex;
  padding: 60px 60px;
  background-color: #002b3b;
}

.notices img {
  width: 380px;
}

/* --- BLOG SECTION --- */

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  padding: 120px;
}

.blog__card {
  width: 380px;
}

.blog__card img {
  width: 100%;
}

.blog__card p {
  text-transform: uppercase;
  font-weight: 500;
  text-align: justify;
  width: 100%;
}

/* --- FOOTER SECTION --- */

.footer {
  background-color: #002b3b;
  display: flex;
  flex-direction: column;
  padding-top: 160px;
}

.footer__form {
  margin: auto;
  flex-direction: column;
}

.footer__form p {
  color: #fafafa;
  font-size: 2em;
  margin-bottom: 22px;
}

.footer__form form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer__form form input {
  padding: 24px 42px;
  border: none;
  outline: none;
  font-size: 1em;
}

.footer__form form input[type="email"] {
  flex-grow: 1;
  background-color: #001c38;
  color: #fafafa;
}

.footer__form form input[type="submit"] {
  background-color: #fafafa;
  color: #0a0a0a;
}

.footer__links {
  margin: 160px 100px 60px;
}

.footer__links ul {
  display: flex;
  list-style: none;
  color: #fafafa;
  gap: 48px;
  font-weight: 300;
  font-size: 1.2em;
}
