
/* --- HEADER SECTION --- */

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header section {
  padding: 60px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: end;
  background: linear-gradient(90deg, #00151f77, transparent, #00151f77),;
  background-image: url("images/f.elconfidencial.com_original_ac7_55f_733_ac755f733645ff83bb26c0780396c394.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7); /* Color negro semi-transparente */
  background-blend-mode: overlay;
}

.header__text {
  margin-left: 12px;
  margin-top: 100px;
  margin-bottom: 40px;
}

.header__text p {
  color: #fafafa;
  font-size: 3em;
  font-weight: 300;
}

.header__text .text__bold {
  color: #a1b0bf;
  font-size: 3.6em;
  font-weight: 500;
}

.slider__articles-wrapper {
  display: grid;
  height: 200px;
  place-content: center;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 200px;
}

/* --- GALLERY SECTION --- */

.gallery {
  background: linear-gradient(90deg, #00151f77, transparent, #00151f77),;
  background-image: url("images/balenciaga.webp");
  background-size: cover;
  place-content: center;
  padding: 120px;
  background-color: rgba(0, 0, 0, 0.7); /* Color negro semi-transparente */
  background-blend-mode: overlay;
}


/* --- NOTICES SECTION --- */
.notices{
  background: linear-gradient(90deg, #00151f77, transparent, #00151f77),;
  background-image: url("images/balenciaga.webp");
  background-size: cover;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.7); /* Color negro semi-transparente */
  background-blend-mode: overlay;
  padding: 120px;
}
.notices_container {
  display: flex;
  padding: 60px 60px;
  background-color: rgba(0, 43, 59, 0.5); 
  width: 70rem;
  margin-right: 70px;
}

.notices img {
  width: 200px;
  
}

/* --- BLOG SECTION --- */
.blog {
  background-image: url("images/f.elconfidencial.com_original_ac7_55f_733_ac755f733645ff83bb26c0780396c394.jpg");
  background-size: cover;
  place-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  padding: 120px;
  background-color: rgba(0, 0, 0, 0.7); /* Color negro semi-transparente */
  background-blend-mode: overlay;
}

.blog__card {
  width: 380px;
  border-radius: 6px;
  padding: 10px;
}

.blog__card img {
  width: 100%;
}

.blog__card p {
  text-transform: uppercase;
  font-weight: 500;
  text-align: justify;
  width: 100%;
}

/* --- FOOTER SECTION --- */

.footer {
  background-color: #002b3b;
  display: flex;
  flex-direction: column;
  padding-top: 160px;
}

.footer__form {
  margin: auto;
  flex-direction: column;
}

.footer__form p {
  color: #fafafa;
  font-size: 2em;
  margin-bottom: 22px;
}

.footer__form form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer__form form input {
  padding: 24px 42px;
  border: none;
  outline: none;
  font-size: 1em;
}

.footer__form form input[type="email"] {
  flex-grow: 1;
  background-color: #001c38;
  color: #fafafa;
}

.footer__form form input[type="submit"] {
  background-color: #fafafa;
  color: #0a0a0a;
}

.footer__links {
  margin: 160px 100px 60px;
}

.footer__links ul {
  display: flex;
  list-style: none;
  color: #fafafa;
  gap: 48px;
  font-weight: 300;
  font-size: 1.2em;
}

/* --- CALENDAR SECTION --- */
.calendar{
  background: linear-gradient(90deg, #00151f77, transparent, #00151f77),;
  background-image: url("images/f.elconfidencial.com_original_ac7_55f_733_ac755f733645ff83bb26c0780396c394.jpg");
  background-size: cover;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
}
.eventCalendar{
  display: flex;
}
.imgEvent{
  height: 400px;
  margin: 30px;
}
.text__calendar{
  font-size: 30px !important;
  padding-top: 20px;
  padding-left: 80px;
  color: #fafafa;
}

.text__bold__calendar{
  color: #a1b0bf;
  font-size: 3.6em;
  font-weight: 500 ;
  text-align: left;
  padding-top: 20px;
  padding-left: 80px;
}