/* Estilo general del contenedor de la cuadrícula */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 60px;
}

/* Estilo para las columnas */
.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

/* Estilos para las imágenes */
.grid div {
  position: relative;
  overflow: hidden;
}

.grid div img {
  width: 100%;
  height: auto;
  display: block;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.grid div:hover img {
  -webkit-filter: blur(0);
  filter: blur(0);
}

/* Estilos específicos para cada imagen */
.col-span-1 .img1,
.col-span-1 .img4 {
  height: 200px;
  width: 300px;
}

.col-span-2 .img2,
.col-span-2 .img3 {
  height: 200px;
  width: 500px;
}

