@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color1: #fafafa;
  --bg-color2: #f5f5f5;
  --fg-color1: #282a2e;
  --fg-color2: #909090;
  --fg-color3: #787874;
  --fg-colorg: #96a7b8;
  --fg-colorb: #3e467c;
  --color1: #002b3b;
  --color2: #00222f;
  --color3: #47e19f;
  --color4: #0ab28b;
  --sdw-color1: #0a0a0a66;
}
