.profile-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  box-shadow: 0px 3px 4px 1px var(--sdw-color1);
  background: linear-gradient(var(--color1) 35%, var(--bg-color1) 35%);
  padding: 28px;
  padding-top: 180px;
}

.profile-card__image {
  position: absolute;
  top: 22px;
  left: 28px;
  background-color: var(--bg-color1);
  border: 6px solid var(--bg-color1);
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.profile-card__image img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid transparent;
  outline: 3px solid var(--color3);
}

.profile-card__buttons {
  display: flex;
  justify-content: end;
  padding-bottom: 6px;
  color: var(--fg-color3);
  gap: 16px;
  font-size: 1.7em;
}

.profile-card__buttons i {
  position: relative;
  cursor: pointer;
}

.btn--notification::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -2px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--color3);
}

.buttons__menu {
  position: relative;
}

.buttons__menu input {
  display: none;
}

.buttons__menu input:checked ~ .buttons__dropdown {
  display: flex;
}

.buttons__dropdown {
  position: absolute;
  transform: translateX(-100%);
  display: none;
  flex-direction: column;
  list-style: none;
  background-color: var(--color1);
  padding: 12px 22px;
  border-radius: 12px;
  width: 165px;
}

.dropdown__link {
  font-size: 0.6em;
  color: var(--bg-color2);
  text-decoration: none;
  text-wrap: nowrap;
}

.dropdown__link:hover {
  color: var(--bg-color1);
}

li {
  overflow: hidden;
}

.buttons__dropdown li:last-child {
  border-top: 1px solid var(--fg-color2);
  margin-top: 8px;
}

.buttons__dropdown li:last-child .dropdown__link {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.profile-card__name {
  font-size: 1.4em;
  margin-bottom: 2px;
}

.profile-card__info {
  display: flex;
  gap: 140px;
}

.info__title {
  font-size: 1.3em;
  color: var(--fg-color2);
  font-weight: 400;
  margin-bottom: 18px;
}

.info--main .info__title {
  font-size: 1.3em;
  color: var(--fg-colorg);
  font-weight: 600;
  margin-bottom: 18px;
  margin-top: 18px;
}

.info__data {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  gap: 8px;
}

.info--main .info__data {
  color: var(--fg-color2);
}

.info__data .icon {
  color: #fafafa;
  padding: 8px;
  font-size: 1.4em;
  border-radius: 50%;
  background-color: var(--color1);
}

.info--main .info__data .icon {
  color: var(--color1);
  background-color: transparent;
  padding: 6px;
  font-size: 1.4em;
}
