.admin-students__container {
  display: flex;
  min-height: 100vh;
}

.admin-students__container aside {
  width: 80px;
  background-color: #fafafa;
  box-shadow: 2px 0px 10px 1px #0a0a0a22;
  z-index: 10;
}

.admin-students {
  flex-grow: 1;
  padding: 80px;
  padding-right: 160px;
  background-color: #f0f0f0;
}

.admin-students__info {
  margin-top: 50px;
}

.admin-students__name {
  font-size: 2.2em;
  color: #002b3b;
}

.admin-students__list {
  display: flex;
  padding: 18px 8px;
  list-style: none;
  gap: 50px;
  font-size: 1.2em;
  color: #606060;
}

.list--bold {
  font-weight: 500;
  color: #0a0a0a;
}

.admin-students__value {
  font-size: 1.2em;
  font-weight: 500;
  margin: 16px 0;
}
