.bg{
    background: linear-gradient(90deg, #00151f77, transparent, #00151f77),;
    background-image: url("images/f.elconfidencial.com_original_ac7_55f_733_ac755f733645ff83bb26c0780396c394.jpg");
    background-size: cover;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: overlay;
}